@model WebAluno.ViewModel.VmLogin
@{
    Layout = null;
}

<h2>Login</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.matricula)
        @Html.TextBoxFor(m => m.matricula, new { @class = "form-control", placeholder = "Informe a matricula" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.cpf)
        @Html.PasswordFor(m => m.cpf, new { @class = "form-control", placeholder = "Informe a cpf" })
    </div>

    <button type="submit" class="btn btn-default">Entrar</button>
}